---
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
import { SEO } from "astro-seo";
import json from "content.json";
import RingText from "components/RingText.astro";
import IconLogo from "icons/IconLogo.astro";

const fontsUrl =
  "https://fonts.googleapis.com/css2?family=Archivo:wght@300;600;900&display=swap";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <GoogleFontsOptimizer url={fontsUrl} />

    {/* Open Graph / Facebook */}
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://multixion.com/" /> {/* Replace with your website URL */}
    <meta property="og:title" content="Multixion" />
    <meta
      property="og:description"
      content="Your One-Stop Solution for Seamless Success: From Initial Registration to Digital Excellence!"
    />
    <meta property="og:image" content="https://raw.githubusercontent.com/aadhib/Multixion-coming-soon-page/main/Meta_image.png" /> {/* Replace with your image URL */}

    {/* Twitter */}
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://multixion.com/" /> {/* Replace with your website URL */}
    <meta property="twitter:title" content="Multixion" />
    <meta
      property="twitter:description"
      content="Your One-Stop Solution for Seamless Success: From Initial Registration to Digital Excellence!"
    />
    <meta property="twitter:image" content="https://raw.githubusercontent.com/aadhib/Multixion-coming-soon-page/main/Meta_image.png" />



    <SEO
      title={json.seo.title}
      description={json.seo.description}
      openGraph={{
        basic: {
          title: json.seo.title,
          type: "website",
          image: json.seo.image,
        },
        image: {
          url: json.seo.image,
          width: 512,
          height: 512,
          alt: "Logo",
        },
      }}
      twitter={{
        card: "app",
        site: process.env.SITE,
        creator: "@aadhib",
        title: json.seo.title,
        description: json.seo.description,
        image: json.seo.image,
        imageAlt: "MULTIXION logo",
      }}
    />
  </head>

  <body>
    <div class="layout-container">
      <header class="layout-header">
        <IconLogo />
        <h3>{json.meta.title}</h3>
      </header>

      <div class="layout-content">
        <slot />
      </div>

      <footer class="layout-footer">
        <div>
          <h5>{json.layout_footer.title}</h5>
          <p>{json.layout_footer.copyright}</p>
        </div>

        <RingText identifier="ring-text-intent">
          <>{json.layout_footer.ring_text}</>
        </RingText>
      </footer>
    </div>

    <script src="../scripts"></script>
  </body>
</html>

<style is:global>
  html,
  body {
    @apply m-0 overflow-hidden h-full;
  }

  html {
    @apply text-base font-default font-300;
    @apply bg-white-01 text-green-01 dark:bg-black dark:text-white-02;
    @apply select-none;
  }

  body {
    @apply py-4 lg:py-8 px-8 lg:px-16;
  }

  .layout-container {
    @apply relative h-full grid grid-cols-1 overflow-hidden;
    @apply gap-2 lg:gap-3;
    grid-template-rows: auto 1fr auto;
  }

  .layout-container > .layout-header {
    @apply text-green-02 flex items-center gap-4 border-b-2 border-b-green-01 sticky;
    @apply pb-2 lg:pb-4;
  }

  .layout-header > h3 {
    @apply text-green-01 dark:text-white-02 font-900;
    @apply text-lg md:text-xl lg:text-2xl;
  }

  .layout-header > nav {
    @apply flex items-center;
    @apply gap-4 lg:gap-8;
  }

  .layout-container > .layout-content {
    @apply flex flex-col overflow-y-auto scroll-smooth;
    @apply gap-8 md:gap-14 lg:gap-16;
  }

  .layout-container > .layout-footer {
    @apply border-t-2 border-t-green-01 flex;
    @apply pt-2 lg:pt-4;
  }

  .layout-footer > div {
    @apply flex flex-col justify-end gap-2 md:gap-4 lg:gap-6;
    @apply basis-1/2 md:basis-3/4;
  }

  .layout-footer > div > h5 {
    @apply font-600;
    @apply text-base md:text-lg lg:text-xl;
  }

  .layout-footer > div > p {
    @apply text-sm md:text-base lg:text-lg;
  }
</style>
